/*
*   Desktop Stylesheet: ~1024px wide (proportional).
*   Will display in viewports between 1024px and 1279px wide. */

body {
    background-color: @lightgrey;
    position: relative;
}

.white_bg {
    background-color: @white;
}

.button {
    position: relative;
    width: 232px;
    height: 44px;
    a, a:active, a:visited {
        display: block;
        border: 3px solid @txtcolor;
        background-color: @white;
        color: @txtcolor;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 4px 15px;
        width: 226px;
        height: 34px;
        line-height: 20px;
        text-align: center;
        transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        box-shadow: 0px 0px 1px @txtcolor,
                    1px 1px 1px @txtcolor,
                    2px 2px 1px @txtcolor,
                    3px 3px 1px @txtcolor,
                    4px 4px 1px @txtcolor,
                    5px 5px 1px @txtcolor,
                    6px 6px 1px @txtcolor,
                    7px 7px 1px @txtcolor,
                    8px 8px 1px @txtcolor;
        .transition(all 100ms linear);
        &:hover {
            color: @txtcolor;
            transform: translate3d(5px, 5px, 0);
            -moz-transform: translate3d(5px, 5px, 0);
            -webkit-transform: translate3d(5px, 5px, 0);
            box-shadow: 0px 0px 1px @txtcolor,
                        1px 1px 1px @txtcolor,
                        2px 2px 1px @txtcolor,
                        3px 3px 1px @txtcolor;
            .transition(all 100ms linear);
        }
    }
}

.header_bg {
    position: absolute;
    width: 100%;
    height: 480px;
    background-color: #0097F4;
    z-index: -1;
}
.page_header {
    width: 80%;
    margin: 0 auto;
    .page_logo {
        float: left;
        margin-top: 30px;
    }
    .login_link {
        float: right;
        margin-top: 60px;
        text-transform: uppercase;
        a {
            color: @txtcolor;
            letter-spacing: 2px;
            font-weight: 700;
            &:hover {
                color: @darkgrey;
            }
        }
    }
    .header_blurb {
        margin-top: 50px;
        color: @white;
        .header_blurb_left {
            float: left;
            width: 70%;
        }
        p {
            font-size: 17px;
            line-height: 25px;
        }
        .button {
            float: right;
            margin-top: 16px;
        }
    }
}
.popover {
    background: url('/internal/img/stage.png') no-repeat center top;
    background-size: 100%;
    width: 100%;
    max-width: 989px;
    max-height: 314px;
    margin: 30px auto;
    position: relative;
    p {
        color: @white;
        position: absolute;
        top: 44%;
        left: 4%;
        width: 70%;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }
    .button {
        top: 58%;
        left: 8%;
    }
}
.red_banner {
    position: absolute;
    top: 20%;
    left: -30px;
    width: 270px;
    height: 40px;
    background-color: #eb0000;
    color: @white;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
    &:before {
        content:" ";
        border-top:10px solid #CC0202;
        position:absolute;
        bottom:-10px;
        border-left:31px solid transparent;
        left:0;
    }
}

#HappyPatients {
    width: 80%;
    margin: 0 auto;
    padding: 40px 30px;
    h2 {
        width: 100%;
        float: left;
    }
    img {
        float: left;
        width: 40%;
        margin: 30px 5% 0;
    }
    div {
        float: right;
        width: 45%;
        margin: 30px 5% 15px 0;
        &.quote {
            background-color: #EFF2F7;
            border-radius: 10px;
            position: relative;
            padding: 20px;
            font-size: 15px;
            line-height: 22px;
            font-weight: 500;
            &:after {
                content: " ";
                border-top: 15px solid #EFF2F7;
                position: absolute;
                bottom: -15px;
                border-right: 25px solid transparent;
                right: 25%;
            }
        }
        &.quote_attrib {
            margin-top: 0;
            margin-right: 22%;
            clear: right;
            width: auto;
            color: @grey;
            font-size: 16px;
            line-height: 16px;
        }
    }
}

#Features {
    width: 80%;
    margin: 40px auto;
    padding: 0 3%;
    position: auto;
    & > h2 {
        float: left;
    }
}
.feature {
    float: left;
    clear: left;
    margin-top: 40px;
    img {
        float: left;
        width: 35%;
    }
    .feature_desc {
        float: right;
        clear: right;
        width: 65%;
    }
    h2 {
        margin-top: 60px;
    }
    p {
        font-size: 21px;
        line-height: 27px;
        margin-top: 20px;
    }
    .button {
        margin-top: 20px;
    }
    &#DesktopApp {
        img {
            width: 45%;
        }
        .feature_desc {
            width: 55%;
            margin-top: 50px;
        }
    }
    &#PhoneCall {
        img {
            width: 40%;
        }
        .feature_desc {
            width: 60%;
            margin-top: 30px;
        }
    }
}
.bordered_section {
    border-top: 2px solid @txtcolor;
    border-bottom: 2px solid @txtcolor;
    width: 80%;
    margin: 30px auto;
    padding: 20px 3%;
}
.thin {
    width: 70%;
    margin: 20px auto 30px;
}
.flex_left {
    float: left;
    width: 60%;
}
#SetupIsEasy {
    .flex_left {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    h3 {
        float: left;
        clear: left;
        text-align: left;
        margin-bottom: 25px;
        font-size: 27px;
        line-height: 30px;
        a {
            font-weight: 700;
        }
    }
    img {
        float: right;
        width: 30%;
        margin-top: -10px;
    }
    p {
        clear: both;
        width: 80%;
        margin: 0 auto 40px;
        font-size: 17px;
        line-height: 27px;
        font-weight: 600;
    }
}

#PlaybackOptions {
    width: 78%;
    margin: 20px auto;
    p {
        font-size: 21px;
        line-height: 27px;
        font-weight: 500;
        margin: 20px 0;
    }
    img {
        width: 90%;
        max-width: 590px;
        max-height: 408px;
        margin: 0 auto;
        display: block;
    }
}
#RespondAccordingly {
    text-align: center;
}
.table_simple {
    margin: 20px 0;
    th {
        background-color: @lightblue;
        font-size: 29px;
        line-height: 36px;
        font-weight: 500;
        padding: 4px;
        color: @txtcolor;
    }
    td {
        background-color: @white;
        font-weight: 500;
        font-size: 19px;
        line-height: 25px;
        padding: 8px;
        color: @darkgrey;
    }
}

#Features2 {
    width: 80%;
    margin: 40px auto;
    .small {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
    }
    .features2_top_wrap {
        width: 100%;
        position: relative;
    }
    .features2_header {
        width: 40%;
        text-align: left;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .table_img_wrap {
        width: 18%;
        position: absolute;
        bottom: 0;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
        p {
            margin-top: 10px;
        }
    }
    #PhoneImgWrap {
        left: 46%;
    }
    #MobileImgWrap {
        left: 64%;
    }
    #MonitorImgWrap {
        float: right;
        position: relative;
    }
}
.alternating_table {
    width: 100%;
    margin: 20px auto;
    background-color: @white;
    tr {
        height: 50px;
        line-height: 50px;
        font-size: 17px;
        color: #86898b;
        font-weight: 500;
        td {
            width: 18%;
            text-align: center;
            &:first-child {
                width: 46%;
                padding-left: 20px;
                text-align: left;
            }
        }
    }
    tr:nth-of-type(2n-1) {
        background-color: #F5F5F5;
    }
}
#UnlimitedSupport {
    width: 90%;
    margin: 40px auto;
    h3 {
        text-align: left;
    }
    p {
        text-align: left;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }
}

#Pricing {
    width: 90%;
    margin: 90px auto 40px;
    h3 {
        text-align: left;
        font-weight: 500;
        a {
            text-decoration: underline;
        }
    }
}
.left_box {
    float: left;
    width: 40%;
    .red_bg {
        background-color: #DF1E2B;
        color: @white;
        padding: 15px 10px 10px 30px;
        font-size: 21px;
    }
    h3 {
        margin: 20px;
    }
    ul {
        margin: 0 20px 20px 40px;
    }
    li {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: #86898b;
    }
}
.bold {
    font-weight: 700;
    font-size: 23px;
}
.left_span {
    float: left;
    width: 20%;
}
.right_span {
    float: right;
    width: 80%;
}
.right_box {
    float: right;
    width: 55%;
    padding: 20px;
    .left_span {
        width: 42%;
    }
    .right_span {
        width: 50%;
    }
    h3 {
        width: 100%;
        text-align: center !important;
    }
    p {
        font-size: 23px;
        font-weight: 500;
        &.small {
            font-size: 18px;
            line-height: 22px;
            text-align: right;
        }
        &.tiny {
            float: left;
            clear: both;
            width: 100%;
            margin: 30px 0 0;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #86898b;
        }
    }
    .equiv {
        font-weight: 400;
    }
    &#TryOverLunch p {
        font-size: 19px;
        line-height: 27px;
    }
}
#SpecialOffer, #PriceComparison {
    margin-top: 40px;
}
#PricingCTA {
    float: left;
    clear: both;
    width: 100%;
    margin: 60px 0 20px;
    h3 {
        text-align: center;
    }
    .button {
        margin: 30px auto 0;
    }
}

#AboutUs {
    border-top: 2px solid #0097F5;
    h1 {
        font-size: 34px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}
.team_member, .ampersand, #AboutBlurb, #PressBox {
    float: left;
}
.team_member {
    width: 25%;
    img {
        display: block;
        margin: 0 auto;
    }
    h4 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: center
    }
    p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
        margin: 0;
    }
}
#Jordan {
    margin-left: 8.5%;
}
#Micah {
    margin-left: 4%;
}
#Ryan {
    margin-left: 0%;
}
.ampersand {
    width: 4%;
    font-size: 56px;
    line-height: 190px;
    text-align: center;
    font-family: 'baskerville', serif;
    font-style: italic;
}

#AboutBlurb {
    clear: left;
    width: 83%;
    margin: 30px 8.5%;
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
}
#PressBox {
    clear: left;
    float: none;
    width: 900px;
    height: 100px;
    display: block;
    margin: 40px auto;
}

#PageFooter {
    #FooterLogo {
        display: block;
        width: 150px;
        height: 154px;
        margin: 0 auto;
    }
}





































